{% extends 'base.html' %}
{% block title %}Rigister{% endblock %}

{% block header %}
<h1 class="h1-header">Sky System</h1>
<header>
    <nav>
        <li><a href="/register">Registre-se</a></li>
        <li><a href="/login">Entrar</a></li>
        <li><a href="/index">Home</a></li>
    </nav>
</header>

{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <h1 class="r-flash">{{ msg }}</h1>
    {% endfor %}
{% endwith %}

<h1 class="r-title">Registre-se</h1>
<h2 class="h2-uname">Username</h2>
<h2 class="h2-pword">Password</h2>
<form method="POST">
    <input class="r-u-input" type="text" name="username" autocomplete="off" placeholder="Type Your Username" required>
    <input class="r-p-input" type="text" name="password" autocomplete="off" placeholder="Type your Password" required>
    <button class="r-button">Sing in</button>
</form>

{% endblock %}